.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #ffffff;
  background-image: linear-gradient(19deg, #71e5ff 0%, #ce63ff 100%);
  z-index: 1;
  &.loaded {
    transition: 0.8s opacity;
    opacity: 0;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url("../img/background.jpg") center 0 / cover fixed no-repeat;
  span {
    font-family: "EB Garamond", serif;
    font-size: 60px;
    font-weight: 400;
  }
  h1 {
    font-size: 20px;
    font-weight: 400;
  }
  @media (min-width: 1024px){
    span{
      font-size: 72px;
    }
    h1 {
      font-size: 32px;
    }
  }
  .arrow_down{
    margin-top: 50px;
  }
}

.main__container {
  padding: 150px 15px;
  background: url("../img/background.jpg") center 0 / cover fixed no-repeat;
  @media (min-width: 768px){
    background: #fff;
  }
  .main__grid{
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid: repeat(5, 1fr) ~"/" repeat(2, 1fr);
    grid-gap: 10px 15px;
    .main__item{
      position: relative;
      padding-bottom: 100%;
      height: 0;
      transition: opacity 1s, transform 0.5s;
      opacity: 0.1;
      transform: scale(0.2);
      cursor: pointer;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    @media (min-width: 768px) {
      grid: repeat(7, 1fr) ~"/" repeat(5, 1fr);
      grid-gap: 20px;
      grid-template-areas: 
      "a a b c d"
      "a a e e e"
      "f f e e e"
      "f f e e e"
      "j j j g h"
      "j j j k k"
      "j j j k k";
      .main__item{
        box-shadow: 0px 0px 10px -5px rgba(0,0,0,1);
        &:nth-child(1) {grid-area: a}
        &:nth-child(2) {grid-area: b}
        &:nth-child(3) {grid-area: c}
        &:nth-child(4) {grid-area: d}
        &:nth-child(5) {grid-area: e}
        &:nth-child(6) {grid-area: f}
        &:nth-child(7) {grid-area: g}
        &:nth-child(8) {grid-area: h}
        &:nth-child(9) {grid-area: j}
        &:nth-child(10) {grid-area: k}
      }
    }
    .animate{
      opacity: 1;
      transform: scale(1);
    }
  }
}

footer{
  background-color: #ccf6e7;
  .footer__container{
    text-align: center;
    .footer__links{
      margin: 20px auto 30px;
      width: 80%;
      max-width: 500px;
    }
    .footer__title{
      font-family: "EB Garamond", serif;
      font-size: 22px;
    }
    .footer__form{
      display: grid;
      max-width: 500px;
      grid-template-rows: repeat(5, auto);
      row-gap: 15px;
      margin: 30px auto 0;
      span{
        margin: 0 0 10px;
        font-family: "EB Garamond", serif;
        font-size: 22px;
      }
      input, textarea{
        padding: 8px;
        resize: none;
        font-size: 16px;
        border: 1px solid black;
        background-color: #ccf6e7;
        &:active, &:hover, &:focus {
          outline: 0;
          outline-offset: 0;
        }
      }
      button{
        width: max-content;
        margin-left: auto;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        color: #ccf6e7;
        border: 0;
        background-color: #222;
      }
    }
    .arrow_up{
      margin-top: 40px;
      transform: rotate(180deg);
    }
  }
}

.arrow{
  width: 60px;
}
.links{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
  .links_item{
    max-width: 80px;
    margin: 0 auto;
    width: 80%;
  }
} 